body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: blue; 
    background-image: url('https://media.tenor.com/NXQ8OEBqZ0EAAAAM/galaxy-stars.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 

}

.container {
    max-width: 800px;
    margin: auto;
   background-image: url('https://marketplace.canva.com/EAGFfNA0FhU/1/0/1131w/canva-blue-geometric-background-poster-zAUnN1NLViw.jpg');
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #007bff; /* Optional border */
}

p {
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center the paragraph */
    height: auto; /* Automatic height based on content */
    padding: 15px; /* Add padding for better spacing */
    line-height: 1.5; /* Adjust line height for readability */
    background-color: #23b2f5; /* Optional background color */
    border: 1px solid #1092e9; /* Optional border */
    border-radius: 5px; /* Rounded corners */
}

h1 {
    margin: 0;
    font-size: 2.5em;
   
}

h2 {
    background-color: #007bff;
    color: rgb(31, 29, 29);
    padding: 10px;
    border-radius: 5px;
}


.Social{
    text-align: center;
    border-bottom: 25px;
    color: #007bff
}
.Social a{
    font-size: 25px;
    color: #007bff;
    border: 2px solid #007bff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 30%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.Social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: #007bff;
    color: var(--text-color);
    box-shadow: 0 0 25px #007bff;
}

.job, .school {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center the paragraph */
    height: auto; /* Automatic height based on content */
    padding: 15px; /* Add padding for better spacing */
    line-height: 1.5; /* Adjust line height for readability */
    background-color: #23b2f5; /* Optional background color */
    border: 1px solid #1092e9; /* Optional border */
    border-radius: 5px;
}
